<nav class="position-relative d-flex justify-content-center align-items-center w-100 h-100" *ngIf="params.total >= params.perPage">
  <div
    class="mb-3 mr-4"
    *ngIf="!!params.total"
  >Total: {{ params.total }}</div>
  <ul class="pagination justify-content-center">
    <li
      class="page-item"
      *ngIf="params.current > 1"
      (click)="onItemClickHandler(1)"
    >
      <span class="page-link">Previous</span>
    </li>
    <li
      class="page-item"
      *ngFor="let index of indexes"
      [class.active]="index === params.current"
      (click)="onItemClickHandler(index)"
    >
      <span class="page-link">{{ index }}</span>
    </li>
    <li
      class="page-item c"
      *ngIf="
        params.current < params.total / params.perPage &&
        params.total / params.perPage > 1
      "
      (click)="onItemClickHandler(params.total / params.perPage)"
    >
      <span class="page-link">Next</span>
    </li>
  </ul>
</nav>
  