@font-face {
    font-display: swap;
    font-family: 'Arno Pro';
    src: local('Arno Pro  Display Regular'), local('Arno-Pro--Display-Regular'),
        url('./arnopro/ArnoPro-Display.woff2') format('woff2'),
        url('./arnopro/ArnoPro-Display.woff') format('woff'),
        url('./arnopro/ArnoPro-Display.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-display: swap;
    font-family: 'Arno Pro';
    src: local('Arno Pro  Bold'), local('Arno-Pro--Bold'),
        url('./arnopro/ArnoPro-Bold.woff2') format('woff2'),
        url('./arnopro/ArnoPro-Bold.woff') format('woff'),
        url('./arnopro/ArnoPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}