.page-title {
    margin-bottom: 0;
    font-size: 2rem;
    font-weight: 600;
}
.page-title .actions {
    font-size: 1.3rem;
}
.product-container {
    background-color: #fff;
    height:100%;
    box-shadow: 0 12px 25px 0 #dad4c1;
    position: relative;
}
.product-container:hover {
    box-shadow: 0 25px 25px 0 #dad4c1;
}
.product-desc {
    padding: 20px;
    position: relative;
}
.media-container img {
    max-width:100%;
    max-height: 280px;
}
.product-name {
    font-size: 1rem;
    margin:10px 0px 10px 0px;
    font-weight:bold;
}
.product-name a {
    color: #343434;
}
.product-name a:hover {
    color: #30735A; 
}
.product-price {
    color: #30735A;
    font-weight: 600;
    font-size: 1.5rem;
}
.short-description {font-size:13px;line-height:20px;margin:0px 0px 10px 0px;}
.add-to-cart-btn {
    background-color: #3B8C66;
    border: none;
    border-radius: 50%;
    color: #F2EDDC;
    font-weight: 300;
    font-size: 2rem;
    width: 3rem;
    height: 3rem;
    line-height: 2rem;
    box-shadow: 0 7px 12px 0 #dad4c1;
    outline: none !important;
    transition: all 0.5s ease-in-out;
}
.add-to-cart-btn:hover {
    box-shadow: none;
    transform: rotate(180deg);
}
.actions {
    font-size: 1.3rem;
}
.category-container {
    background-color: #fff;
    height:100%;
    box-shadow: 0 12px 25px 0 #dad4c1;
    font-size: 1rem;
    width: 100%;
}
.category-container:hover {
    box-shadow: 0 25px 25px 0 #dad4c1;
}
.category-container p {
    margin-bottom: 0;
    display: block;
}
.title {
    color: inherit;
    font-size: 0.9rem;
    font-weight: 500;
    text-align: center;
    display: block;
}
.sort {
    font-size: 0.9rem;
}
.wishlist {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}
.wishlist svg {
    fill: none;
    stroke: #D9CEAD;
    stroke-width: 2;
    width: 26px;
}
.wishlist.active svg, .wishlist svg:hover {
    fill: #D9CEAD;
    stroke: none;
    width: 24px;
}
.pulse {
    transform: scale(1);
	animation: pulse 0.6s 3;
}
.product-main-image {
    width: 100%;
}
.tab-content {
    display: block;
}
.attribute-colors-list {
    padding: 0;
}
.attribute-colors-list li {
    list-style: none;
}
.attribute-colors-list li .color {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
}
:host ::ng-deep .slide-img {
    max-width: 100%;
}
@-webkit-keyframes pulse {
    0% {
        transform: scale(0.8);
    }
    70% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.8);
    }
  }
  @keyframes pulse {
    0% {
        transform: scale(0.8);
    }
    70% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.8);
    }
  }