<div class="box-container mb-4">
  <div class="horizontal-container">
      <div class="vertical-container">
          <div class="content-container">
              <div *ngIf="!!productSegment && productSegment.length !== 0" class="swiper-container" [disabled]="disabled" [swiper]="config" >
                <div class="swiper-wrapper">
                  <div *ngFor="let product of productSegment" class="swiper-slide">
                    <div class="product-container">
                      <div class="media-container d-flex justify-content-center align-items-center" [class.more-media]="product.media.length > 1">
                        <img *ngIf="!!product.media && !!product.media[0] && product.media[0]['webp_thumb_image']" class="product-main-image" src="{{ environment.productImagesPath }}{{ product.media[0]['webp_thumb_image'] }}" alt="{{ product.title }}" (click)="gotToProduct(product.product_id)" />
                        <img *ngIf="!!product.media && !!product.media[1] && product.media[1]['webp_thumb_image']" class="product-main-image" src="{{ environment.productImagesPath }}{{ product.media[1]['webp_thumb_image'] }}" alt="{{ product.title }}" (click)="gotToProduct(product.product_id)" />
                        <button type="button" class="add-to-cart-btn d-flex" (click)="addToCart(product)">
                          <fa-icon [icon]="faShoppingBasket"></fa-icon>
                          <span>Выбрать</span>
                        </button>
                      </div>

                      <div class="attributes" *ngIf="!!product.attributesSorted">
                        <div *ngFor="let attributes of product.attributesSorted;">
                            <ul class="attributes-list d-flex justify-content-center" *ngIf="!!attributes && !attributes[0].color">
                              <li *ngFor="let attribute of attributes" data-value="{{ attribute.attr_value_id }}" class="pl-1 pr-1" (click)="changeAttribute(attribute);">
                                {{ attribute.value }}
                              </li>
                            </ul>
                
                            <ul class="attributes-list-color d-flex justify-content-center" *ngIf="!!attributes && !!attributes[0].color">
                              <li *ngFor="let attribute of attributes" data-value="{{ attribute.attr_value_id }}" class="pl-1 pr-1" (click)="changeAttribute(attribute);">
                                <span *ngIf="!!attribute.value" class="value">{{ attribute.value }}</span>
                                <span *ngIf="!!attribute.color" class="color" [ngStyle]="{ 'background-color': attribute.color }"></span>
                              </li>
                            </ul>
                        </div>
                      </div>

                      <div class="product-desc pl-4 pr-4 pb-4">
                        <h2 class="product-name text-center"><a routerLink="/products/{{product.product_id}}">{{ product.title }}</a></h2>
                        <p class="product-price text-center">{{ product.price | currency:'UAH':'symbol':'1.0'}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-button-prev" [hidden]="config.navigation === false"></div>
              <div class="swiper-button-next" [hidden]="config.navigation === false"></div>
          </div>
      </div>
  </div>
</div>
