:host {
    display: table-cell;
    width: 66.6666666667px;
    height: 100%;
    min-height: 100%;
    padding: 0 .25rem;
    border: 0;
    background-color: transparent;
    -webkit-transition: color 0.25s ease-in-out,background-color 0.25s ease-in-out,border-color 0.25s ease-in-out;
    transition: color 0.25s ease-in-out,background-color 0.25s ease-in-out,border-color 0.25s ease-in-out;
    font-size: .625rem;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    letter-spacing: .05em;
    cursor: pointer;
    color: rgba(0,0,0,0.65);
    border-left: 1px solid #e7e7e7;
}
:host svg {
    display:block;
    margin:0 auto 5px;
}
:host a {
    color:inherit;
}