<button type="button" (click)="toggleOffcanasCart()" class="navbar-btn" href="#offcanvas-cart" data-toggle="offcanvas">
    <span class="d-block position-relative cart-module-container">
        <span class="quantity-badge">{{ quantity }}</span>
        <fa-icon [icon]="faShoppingBasket" class="mr-1"></fa-icon>
        <span class="d-block" *ngIf="!!total && total !== 0">{{ total | currency:'UAH':'symbol':'1.0' }}</span>
    </span>
</button>
<div class="offcanvas offcanvas-reverse" id="offcanvas-cart">
    <div class="offcanvas-header d-flex justify-content-between align-items-center">
        <h3 class="offcanvas-title">Ваша корзина</h3>
        <button class="close" type="button" (click)="toggleOffcanasCart()" data-dismiss="offcanvas" aria-label="Close"><span aria-hidden="true">×</span></button>
    </div>
    <div class="offcanvas-body">
        <div class="offcanvas-body-inner">
            <div *ngIf="cart.length" class="text-right">
                <button type="button" class="text-danger btn-sm pr-0 clear-cart" (click)="clearCart()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x mr-1" style="width: .85rem; height: .85rem;"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                    Очистить
                </button>
            </div>
            <div class="widget widget-featured-entries pt-3">
                <div *ngFor="let product of cart" class="media">
                    <div class="featured-entry-thumb mr-3">
                        <a routerLink="/products/{{product.product_id}}">
                            <img *ngIf="!!product.media && !!product.media[0] && product.media[0]['webp_full_image']" width="64" src="{{ environment.productImagesPath }}{{ product.media[0]['webp_full_image'] }}" alt="{{ product.title }}" />
                        </a>
                        <span class="item-remove-btn" (click)="removeFromCart(product.id)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                        </span>
                    </div>
                    <div class="media-body">
                        <h6 class="featured-entry-title">
                            <a routerLink="/products/{{product.product_id}}">{{ product.title }}</a>
                        </h6>
                        <p *ngFor="let attr of product.attrSelected">
                            {{ attr.title }}: {{ attr.value }}
                        </p>
                        <p class="featured-entry-meta">
                            {{ product.quantity }}
                            <span class="text-muted">x</span>
                            {{ product.price | currency:'UAH':'symbol':'1.0' }}
                        </p>
                    </div>
                </div>
                <div *ngIf="cart.length" class="hr"></div>
                <div *ngIf="cart.length" class="d-flex justify-content-between align-items-center py-3">
                    <div class="font-size-sm">
                        <span class="mr-2">Итого:</span>
                        <span class="font-weight-semibold text-dark">{{ total | currency:'UAH':'symbol':'1.0' }}</span>
                    </div>
                    <!--<a class="btn btn-outline-secondary btn-sm" href="/cart">
                        Expand cart
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right mr-n2"><polyline points="9 18 15 12 9 6"></polyline></svg>
                    </a>-->
                </div>

                <p class="alert" *ngIf="cart.length === 0">Ваша корзина пуста</p>

                <form [formGroup]="quickCart" (ngSubmit)="onSubmit()" *ngIf="cart.length">
                    <div class="form-group">
                        <input 
                            type="text"
                            formControlName="email"
                            class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                            placeholder="Your e-mail *"
                            [class.d-none] = "isLoggedIn"
                        />
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                            <div *ngIf="f.email.errors.required">E-mail неправильный</div>
                        </div>
                    </div>

                    <button *ngIf="cart.length" type="button" type="submit" class="btn btn-success btn-sm btn-block">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-credit-card mr-1"><rect x="1" y="4" width="22" height="16" rx="2" ry="2"></rect><line x1="1" y1="10" x2="23" y2="10"></line></svg>
                        Заказать
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- The Modal -->
<div *ngIf="order" class="modal" id="myModal" [style.display]="showModal ? 'block' : 'none'">
    <div class="modal-dialog">
        <div class="modal-content">
        
        <!-- Modal Header -->
        <div class="modal-header">
            <h4 class="modal-title">Спасибо за ваш заказ!</h4>
            <button type="button" class="close" data-dismiss="modal" (click) = "HideModal()">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
            <p>Ваш заказ #{{ order.order_id }}</p>
            <p>Сумма : {{ order.summ | currency:'UAH':'symbol':'1.0' }}</p>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click) = "HideModal()">Закрыть</button>
        </div>
        
        </div>
    </div>
</div>
    