html,body {height:100%;}
.content {
    margin-top: 3rem;
    width: 100%;
}
.wrapper {
    width: 100%;
    overflow-x: hidden;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    height:100vh;
}