<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3>Edit Article</h3>
            <form [formGroup]="editArticleForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
                    <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                        <div *ngIf="f.title.errors.required">Title is required</div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Body</label>
                    <textarea formControlName="body" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.body.errors }" ></textarea>
                </div>

                <div class="form-group">
                    <button class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>