.notification {
    position: fixed;
    top: 40px;
    right: -100%;
    border-radius: 10px;
    padding: 12px 10px;
    box-shadow: 0px 12px 25px rgba(0,0,0,0.15);
    font-size: 0.9rem;
    transition: all 0.6s;
}
.notification.active {
    right: 20px;
}
.notification.success .inner {
    border-left: 3px solid #3C763D;
    padding: 0px 20px 0px 12px;
}